# Python
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# PostgreSQL y archivos pesados
data/
customer/*.csv
items/*.csv
data/
venv/
*.log
__pycache__/
# Ignorar CSV de ex00
Data_scientist_1/ex00/*.csv