services:
  db:
    image: postgres:13
    restart: unless-stopped
    environment:
      POSTGRES_USER: bea
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: piscineds
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /app
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      POSTGRES_USER: bea
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: piscineds
      DB_HOST: db
      DB_PORT: 5432
    command: tail -f /dev/null

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin_data:


